 <div class="l-sb"><div class="sb-data">

                <!-- main menu -->
                <div class="b-menu g-lnk-inv-case"><ul>
                        <li><a href="/ru/services/">УСЛУГИ</a></li>



                                <li><a href="/ru/portfolio/">ПОРТФОЛИО</a></li>



                                <li><span>БЛОГ</span></li>



                                <li><a href="/ru/event/">СОБЫТИЯ</a></li>



                                <li><a href="/ru/contacts/">КОНТАКТЫ</a></li>
                </ul></div>
                <!-- /main menu -->

                <!-- events list -->
                <div class="b-events sb-item">

                    <!-- headline -->
                    <div class="b-headline"><div><h2>События</h2></div></div>

                    <!-- list -->
                    <!-- /list -->

                </div>
 </div>
<!-- <div class="l-ftr">

        <div class="copyright"><p>&copy; 2002–2010 "Ab Inito Group"</p></div>

        <div class="menu g-lnk-inv-case"><ul>

                <li><a href="/ru/services/">УСЛУГИ</a></li>

                <li><a href="/ru/portfolio">ПОРТФОЛИО</a></li>

                <li><a href="/ru/blog/">БЛОГ</a></li>

                <li><a href="/ru/event/">СОБЫТИЯ</a></li>

                <li><a href="/ru/contacts/">КОНТАКТЫ</a></li>

        </ul></div>

    </div>
    <!-- /footer 

    <!-- decoration


<div class="b-decor"><div class="decor-data">

        <div class="path-line"></div>
        <div class="bg blg png"></div>

    </div>
</div> -->
