<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru">
<head>

	<title>abinito:: blog page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="Content-Language" content="ru" />

	<meta name="copyright" content="" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />

	<meta name="author" content="" />
	<meta name="robots" content="all" />
	
    <!-- styles -->
    <link href="{% static "css/styles.css" %}" rel="stylesheet" media="all" />
    <!--[if IE]><link href="css/styles.ie.css" rel="stylesheet" media="all" /><![endif]-->
   
    <!-- javascript files -->    
    <!-- Base javascript files -->
    <!--[if lte IE 6]><script src="js/pngfix.js" type="text/javascript"></script><![endif]-->
    <script src="{% static "js/jquery/jquery.js" %}" type="text/javascript"></script>
    <script src="{% static "js/jquery/jquery.browser.min.js" %}" type="text/javascript"></script>
    
</head>
<body>

<!-- global case -->
<div class="case">

		<!-- header -->
        <div class="l-hdr">
        	
            <!-- path -->
            <div class="b-path g-lnk-inv-case"><ul>
            	
                <li><span><a href="#">Главная</a></span></li>
                <li><span><a href="#">Новости</a></span></li>
                <li><span><a href="#">Анонсы</a></span></li>
                
                <li><p>7 июля в офисе компании Sisley Cosmetics прошла пресс-конференция, посвященная ...</p></li>
                
            </ul></div>
            <!-- /path -->
            
            <!-- logotype and language case -->
            <div class="logo-case">
            	
                <div class="logo"><a class="png" href="#" title="abinito"></a></div>
                
                <ul class="lang">
                	<li><a href="#">In English</a></li>
                </ul>
                
            </div>
            <!-- /logotype and language case -->
            
        </div>
        <!-- /header -->
        
        <!-- content area -->
        <div class="l-cnt">
        	
            <!-- main area -->
            <div class="l-main"><div class="main-data">
            	
                <!-- headline -->
                <div class="b-headline g-lnk-inv-case g-zoom"><div>
                	
                    <ul>
                    	<li><span>Новые</span></li>
                        <li><a href="#">Популярные</a></li>
                        <li><a href="#">Обсуждаемые</a></li>
                    </ul>
                    
                    <div class="rss"><a href="#">Подписаться на новости</a></div>
                    
                </div></div>
                <!-- /headline -->
                
                <!-- topics list -->
                <div class="b-topics g-zoom"><ul class="topics">
                	
                    <!-- topics item -->
                    <li class="topics-item">
                    	
                        <!-- topic -->
                        <div class="b-topic">
                        	
                            <!-- title -->
                            <div class="ttl"><p><a href="#">7 июля в офисе компании Sisley Cosmetics прошла пресс- конференция, посвященная запуску в России нового продукта Sisleya Serum Global Fermete.</a></p></div>
                            <!-- /title -->
                            
                            <!-- status -->
                            <div class="b-topic-status g-lnk-inv-case">
                                <ul>
                                    <li><span><i class="b-ico ico-clock"></i>21.09.2010</span></li>
                                    <li><a href="#"><i class="b-ico ico-comments"></i>32</a></li>
                                    <li><a href="#"><i class="b-ico ico-type"></i>Релама, журнал</a></li>
                                </ul>
                                <div class="g-clear"></div>
                            </div>
                            <!-- /status -->
                            
                            <!-- picture -->
                            <div class="pic">
                            	
                                <div class="img"><a href="#"><img src="pic/topics-picture_03-1.jpg" alt="" /></a></div>
                                
                                <div class="author"><p>Фоторепортаж с места событий ведет наш репортер Наталия Иванова</p></div>
                                
                                <div class="b-socnet">
                                	<p>Поделиться:</p>
                                    <ul>
                                        <li><a class="tw" href="#"></a></li>
                                        <li><a class="fb" href="#"></a></li>
                                        <li><a class="mail" href="#"></a></li>
                                    </ul>
                                </div>
                                
                                <div class="g-clear"></div>
                                
                            </div>
                            <!-- /picture -->
                            
                            <!-- description -->
                            <div class="desc">
                            	<p>
                                	Новые назначения в Коммерческом отделе ИД HFS/ИМГ. Рекламную команду журнала Elle возглавит Ольга Старилова Со 2 августа 2010 г. в силу вступили новые назначения в Коммерческом отделе <a href="#">Издательского Дома Hachette Filipacchi Shkulev/ИнтерМедиаГруп</a>. Виктория Бухаркина, занимавшая должность директора по рекламе журнала ELLE, покидает Издательский дом «Hachette Filipacchi Shkulev/ИнтерМедиаГруп».
								</p>
                            </div>
                            <!-- /description -->
                            
                        </div>
                        <!-- /topic -->
                        
                    </li>
                    <!-- /topics item -->

                    <!-- topics item -->
                    <li class="topics-item">
                    	
                        <!-- topic -->
                        <div class="b-topic">
                        	
                            <!-- title -->
                            <div class="ttl"><p><a href="#">23 апреля 2010 года в рамках вечеринки InStyle Beauty Bar группа AB Inito представила марку Sisley.</a></p></div>
                            <!-- /title -->
                            
                            <!-- status -->
                            <div class="b-topic-status g-lnk-inv-case">
                                <ul>
                                    <li><span><i class="b-ico ico-clock"></i>21.09.2010</span></li>
                                    <li><a href="#"><i class="b-ico ico-comments-act"></i>32</a></li>
                                    <li><a href="#"><i class="b-ico ico-type"></i>Релама, журнал</a></li>
                                </ul>
                                <div class="g-clear"></div>
                            </div>
                            <!-- /status -->
                            
                            <!-- picture -->
                            <div class="pic">
                            	
                                <div class="img"><a href="#"><img src="pic/topics-picture_06-2.jpg" alt="" /></a></div>
                                
                                <div class="author"><p>Фоторепортаж с места событий ведет наш репортер Наталия Иванова</p></div>
                                
                                <div class="b-socnet">
                                	<p>Поделиться:</p>
                                    <ul>
                                        <li><a class="tw" href="#"></a></li>
                                        <li><a class="fb" href="#"></a></li>
                                        <li><a class="mail" href="#"></a></li>
                                    </ul>
                                </div>
                                
                                <div class="g-clear"></div>
                                
                            </div>
                            <!-- /picture -->
                            
                            <!-- description -->
                            <div class="desc">
                            	<p>
                                	Ольга работает в ИД HFS/ИМГ более 12 лет. За ее плечами успешный опыт работы в качестве коммерческого менеджера ИД, менеджера по рекламе журнала «Счастливые Родители», а с 2005 года — директора по рекламе журнала Marie Claire. За это время Ольге удалось создать одну из самых профессиональных рекламных команд, которая смогла значительно увеличить рекламную долю издания на рынке.
								</p>
                            </div>
                            <!-- /description -->
                            
                        </div>
                        <!-- /topic -->
                        
                    </li>
                    <!-- /topics item -->

                    <!-- topics item -->
                    <li class="topics-item">
                    	
                        <!-- topic -->
                        <div class="b-topic">
                        	
                            <!-- title -->
                            <div class="ttl"><p><a href="#">13 апреля 2010 года группа AB Inito провела в рамках семинара L'Etoile танцевальный конкурс "Танго" под "знаком" марки Sisley</a></p></div>
                            <!-- /title -->
                            
                            <!-- status -->
                            <div class="b-topic-status g-lnk-inv-case">
                                <ul>
                                    <li><span><i class="b-ico ico-clock"></i>21.09.2010</span></li>
                                    <li><a href="#"><i class="b-ico ico-comments-hot"></i>32</a></li>
                                    <li><a href="#"><i class="b-ico ico-type"></i>Релама, журнал</a></li>
                                </ul>
                                <div class="g-clear"></div>
                            </div>
                            <!-- /status -->
                            
                            <!-- picture -->
                            <div class="pic">
                            	
                                <div class="img"><a href="#"><img src="pic/topics-picture_08-3.jpg" alt="" /></a></div>
                                
                                <div class="author"><p>Фоторепортаж с места событий ведет наш репортер Наталия Иванова</p></div>
                                
                                <div class="b-socnet">
                                	<p>Поделиться:</p>
                                    <ul>
                                        <li><a class="tw" href="#"></a></li>
                                        <li><a class="fb" href="#"></a></li>
                                        <li><a class="mail" href="#"></a></li>
                                    </ul>
                                </div>
                                
                                <div class="g-clear"></div>
                                
                            </div>
                            <!-- /picture -->
                            
                            <!-- description -->
                            <div class="desc">
                            	<p>
                                	Ольга работает в ИД HFS/ИМГ более 12 лет. За ее плечами успешный опыт работы в качестве коммерческого менеджера ИД, менеджера по рекламе журнала «Счастливые Родители», а с 2005 года — директора по рекламе журнала Marie Claire. За это время Ольге удалось создать одну из самых профессиональных рекламных команд, которая смогла значительно увеличить рекламную долю издания на рынке.
								</p>
                            </div>
                            <!-- /description -->
                            
                        </div>
                        <!-- /topic -->
                        
                    </li>
                    <!-- /topics item -->

                </ul></div>
                <!-- topics list -->
                
            </div></div>
            <!-- /main area -->
            
            <!-- sidebar -->
            <div class="l-sb"><div class="sb-data">
            	
                <!-- main menu -->
                <div class="b-menu g-lnk-inv-case"><ul>
                	<li><a href="#">Услуги</a></li>
                    <li><a href="#">Портфолио</a></li>
                    <li><span>Блог</span></li>
                    <li><a href="#">События</a></li>
                    <li><a href="#">Контакты</a></li>
                </ul></div>
                <!-- /main menu -->
                
                <!-- events list -->
                <div class="b-events sb-item">
                	
                    <!-- headline -->
                    <div class="b-headline"><div><h2>События</h2></div></div>
                    
                    <!-- list -->
                    <ul>
                        
                        <li><a href="#"><strong>25 июня</strong> группа Ab Inito и марка Sisley организовали фотосессию для журнала Арбор Мунди с участием актрисы театра и кино – Марии Шукшиной.</a></li>
                        <li><a href="#"><strong>15 мая</strong> в ресторане «Турандот» отметила свой День рождения Наталья Андрейченко. Организаторы праздника группа AB Inito.</a></li>
                        <li><a href="#"><strong>23 апреля 2010</strong> года в рамках вечеринки InStyle Beauty Bar группа AB Inito представила марку Sisley.</a></li>
                        
                    </ul>
                    <!-- /list -->
                    
                </div>
                <!-- events list -->
                
                <!-- partner news -->
                <div class="b-events sb-item b-pnews">
                	
                    <!-- headline -->
                    <div class="b-headline"><div><h3>Новости партнеров</h3></div></div>
                    
                    <!-- list -->
                    <ul>
                        
                        <li>
                        	<p><a href="#">Сьогодні іудеї відзначають рік</a></p>
                            <p class="src"><a href="#">Газета ДЕНЬ</a> 8.08.2010, 12:54</p>
                        </li>
                        
                        <li>
                        	<p><a href="#">Сьогодні відзначається Міжнародний день краси</a></p>
                            <p class="src"><a href="#">Корреспондент.net</a> 8.08.2010, 12:54</p>
                        </li>
                        
                        <li>
                        	<p><a href="#">Лісові пожежі тривають: у Казахстані загинули 5 людей, горить ...</a></p>
                            <p class="src"><a href="#">Newsru.ua</a> 8.08.2010, 12:54</p>
                        </li>
                        
                        <li>
                        	<p><a href="#">Кіровоградщина: дикі оси покусали 9 учнів</a></p>
                            <p class="src"><a href="#">УНIАН</a> 8.08.2010, 12:54</p>
                        </li>
                        
                        <li>
                        	<p><a href="#">В Індії автобус впав у річку: загинули 30 осіб</a></p>
                            <p class="src"><a href="#">ЛІГА.Новини</a> 8.08.2010, 12:54</p>
                        </li>
                        
                    </ul>
                    <!-- /list -->
                    
                </div>
                <!-- partner news -->
                
            </div></div>
            <!-- /sidebar -->
            
            <div class="g-clear"></div>
            
        </div>
        <!-- /content area -->

</div>
<!-- /global case -->

	<!-- footer -->
    <div class="l-ftr">
    	
        <div class="copyright"><p>&copy; 2002–2010 "Ab Inito Group"</p></div>
        
        <div class="menu g-lnk-inv-case"><ul>
        	<li><a href="#">Услуги</a></li>
            <li><a href="#">Портфолио</a></li>
            <li><a href="#">Блог</a></li>
            
            <li><a href="#">События</a></li>
            <li><a href="#">Контакты</a></li>
        </ul></div>
        
    </div>
    <!-- /footer -->
    
    <!-- decoration -->
    <div class="b-decor"><div class="decor-data">
    	
        <div class="path-line"></div>
        <div class="bg blg png"></div>
        
    </div></div>
    <!-- /decoration -->

</body>
</html>
