<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru">
<head>

	<title>abinito:: anounce page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="Content-Language" content="ru" />

	<meta name="copyright" content="" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />

	<meta name="author" content="" />
	<meta name="robots" content="all" />
	
    <!-- styles -->
    <link href="css/styles.css" rel="stylesheet" media="all" />
    <!--[if IE]><link href="css/styles.ie.css" rel="stylesheet" media="all" /><![endif]-->
   
    <!-- javascript files -->    
    <!-- Base javascript files -->
    <!--[if lte IE 6]><script src="js/pngfix.js" type="text/javascript"></script><![endif]-->
    <script src="js/jquery/jquery.js" type="text/javascript"></script>
    <script src="js/jquery/jquery.browser.min.js" type="text/javascript"></script>
    
    <script src="js/jquery/jquery.ui.widget.js" type="text/javascript"></script>
    <script src="js/jquery/jquery.ui.core.js" type="text/javascript"></script>
    <script src="js/jquery/jquery.ui.position.js" type="text/javascript"></script>
	<script src="js/jquery/jquery.ui.dialog.js" type="text/javascript"></script>
    <script src="js/jquery/jquery.blockUI.js" type="text/javascript"></script>
    
    <script src="js/jquery/jquery.effects.core.js" type="text/javascript"></script>
    <script src="js/jquery/jquery.effects.fade.js" type="text/javascript"></script>
    
	<script src="js/scripts/isie.js" type="text/javascript"></script>
	<script src="js/scripts/dialog.js" type="text/javascript"></script>
    
    
</head>
<body>

<!-- global case -->
<div class="case">

		<!-- header -->
        <div class="l-hdr">
        	
            <!-- path -->
            <div class="b-path g-lnk-inv-case"><ul>
            	
                <li><span><a href="#">Главная</a></span></li>
                <li><span><a href="#">Новости</a></span></li>
                <li><span><a href="#">Анонсы</a></span></li>
                
                <li><p>7 июля в офисе компании Sisley Cosmetics прошла пресс-конференция, посвященная ...</p></li>
                
            </ul></div>
            <!-- /path -->
            
            <!-- logotype and language case -->
            <div class="logo-case">
            	
                <div class="logo"><a class="png" href="#" title="abinito"></a></div>
                
                <ul class="lang">
                	<li><a href="#">In English</a></li>
                </ul>
                
            </div>
            <!-- /logotype and language case -->
            
        </div>
        <!-- /header -->
        
        <!-- content area -->
        <div class="l-cnt">
        	
            <!-- main area -->
            <div class="l-main"><div class="main-data">
            	
                <!-- headline -->
                <div class="b-headline g-lnk-inv-case g-zoom"><div>
                	
                    <ul>
                    	<li><span>Анонсы</span></li>
                        <li><a href="#">Фотоотчет</a></li>
                    </ul>
                    
                    <div class="rss"><a href="#">Подписаться на новости</a></div>
                    
                </div></div>
                <!-- /headline -->

                <!-- anounce -->
                <div class="b-topic b-anounce">
                    
                    <!-- title -->
                    <div class="ttl"><h1>7 июля в офисе компании Sisley Cosmetics прошла пресс-конференция, посвященная запуску в России нового продукта Sisleya Serum Global Fermete.</h1></div>
                    <!-- /title -->
                    
                    <!-- picture -->
                    <div class="pic g-ovr">
                        
                        <div class="img"><a href="#"><img src="pic/topics-picture_03-1.jpg" alt="" /></a></div>
                        
                        <div class="author"><p>Фоторепортаж с места событий ведет наш репортер Наталия Иванова</p></div>
                        
                        <div class="b-socnet">
                            <p>Поделиться:</p>
                            <ul>
                                <li><a class="tw" href="#"></a></li>
                                <li><a class="fb" href="#"></a></li>
                                <li><a class="mail" href="#"></a></li>
                            </ul>
                        </div>
                        
                        <div class="g-clear"></div>
                        
                    </div>
                    <!-- /picture -->
                    
                    <!-- description -->
                    <div class="desc">
                        <p>
                            Новые назначения в Коммерческом отделе ИД HFS/ИМГ. Рекламную команду журнала Elle возглавит Ольга Старилова Со 2 августа 2010 г. в силу вступили новые назначения в Коммерческом отделе <a href="#">Издательского Дома Hachette Filipacchi Shkulev/ИнтерМедиаГруп</a>. Виктория Бухаркина, занимавшая должность директора по рекламе журнала ELLE, покидает Издательский дом «Hachette Filipacchi Shkulev/ИнтерМедиаГруп».
                        </p>
                        
                        <blockquote>
                            <p>
                                В ИД HFS/ИМГ Виктория проработала 5 лет, начав с позиции Бренд менеджера журнала ELLE, с 2007 возглавляла рекламный отдел журнала MAXIM, а в 2009 была переведена на позицию директора по рекламе журнала ELLE.
                            </p>
                            <i class="b-ico s"></i>
                            <i class="b-ico e"></i>
                        </blockquote>
                        
                        <p>
                        	<b>Рекламную команду журнала ELLE возглавит Ольга Старилова, занимавшая ранее должность директора по рекламе журнала Marie Claire.</b>
                        </p>
                        
                        <p>
                        	Ольга работает в ИД HFS/ИМГ более 12 лет. За ее плечами успешный опыт работы в качестве коммерческого менеджера ИД, менеджера по рекламе журнала «Счастливые Родители», а с 2005 года — директора по рекламе журнала Marie Claire. За это время Ольге удалось создать одну из самых профессиональных рекламных команд, которая смогла значительно увеличить рекламную долю издания на рынке.
                        </p>
                    </div>
                    <!-- /description -->
                    
                </div>
                <!-- /anounce -->
                
                <!-- comments -->
                <div class="b-comm-list"><table>
                	
                    <thead>
                    	<tr>
                        	<td>&nbsp;</td>
                            <td class="ttl">
                                <div>
                                    <p>Комментарии</p>
                                    <span><b>+</b><a class="showDialog" href="#add-comm">Добавить комментарий</a></span>
                                </div>
                            </td>
                        </tr>
                    </thead>
                    
                    <tfoot>
                    	<tr>
                        	<td>&nbsp;</td>
                            <td class="more"><a href="#">Больше комментариев</a></td>
                        </tr>
                    </tfoot>
                    
                    <tbody>
                    	<tr>
                        	<td class="n"><p>Павел</p><i>15:21</i></td>
                            <td class="msg"><p>Мне нравится, год выпуска выровнять по остальным формам, в текст добавить граф.схему выкупа, т.к. сразу не интересно столько читать. А в остальном, у меня, как у потребителя, замечаний нет</p></td>
                        </tr>
                        
                        <tr>
                        	<td class="n"><p>Алексей</p><i>12.10.2010, 16:21</i></td>
                            <td class="msg"><p>Точняк, там я хотел пометить иконку календарика (ну чтоб быстрее выбирать)... И про это тоже забыл... Что ж такое то</p></td>
                        </tr>
                        
                        <tr>
                        	<td class="n"><p>Аноним</p><i>12.10.2010, 15:21</i></td>
                            <td class="msg"><p>Я ж тебе говорил почитать книжки по типографике. А ты не послушался. Вобщем поработай со шрифтами, а то у тебя на макете столько разных стилей, что теряешься.</p></td>
                        </tr>
                    </tbody>
                    
                </table></div>
                <!-- /comments -->
                
                <!-- add comment -->
                <div id="add-comm" class="b-add-comm"><div class="dialogOptions">
                	
                    <div class="ui-dialog-data">
                    	
                        <table class="add-comm">
                        	<tr>
                            	<td></td>
                                <td class="ttl"><p>Добавление комментария</p></td>
                            </tr>
                            
                            <tr>
                            	<td class="n"><label for="add_comm_name">Ваше имя:</label></td>
                                <td class="msg"><div class="b-fi"><div><input id="add_comm_name" name="" type="text" /></div></div></td>
                            </tr>
                            <tr>
                            	<td class="n"><label for="add_comm_msg">Текст сообщения:</label></td>
                                <td class="msg"><div class="b-fta"><div><textarea id="add_comm_msg" name="" cols="" rows=""></textarea></div></div></td>
                            </tr>
                            <tr>
                            	<td class="n"><label for="captcha_field">Сложите цифры:</label></td>
                                <td class="captcha">
                                	
                                    <table class="b-captcha"><tr>
                                    	<td class="captcha-img"><img src="pic/captcha.png" alt="CAPTCHA" /></td>
                                        <td class="captcha-field"><div class="b-fi"><div><input id="captcha_field" name="" type="text" /></div></div></td>
                                        <td class="captcha-err"><p>– Неправильно</p></td>
                                    </tr></table>
                                    
                                </td>
                            </tr>
                            
                            <tr>
                            	<td>&nbsp;</td>
                                <td class="add-comm-btn"><div class="b-btn"><input name="" type="button" value="Добавить" /></div></td>
                            </tr>
                        </table>
                        
                    </div>
                    
                </div></div>
                <!-- /add comment -->
                
                
            </div></div>
            <!-- /main area -->
            
            <!-- sidebar -->
            <div class="l-sb"><div class="sb-data">
            	
                <!-- main menu -->
                <div class="b-menu g-lnk-inv-case"><ul>
                	<li><a href="#">Услуги</a></li>
                    <li><a href="#">Портфолио</a></li>
                    <li><span>Блог</span></li>
                    <li><a href="#">События</a></li>
                    <li><a href="#">Контакты</a></li>
                </ul></div>
                <!-- /main menu -->
                
                <!-- events list -->
                <div class="b-events events-page sb-item">
                	
                    <!-- list -->
                    <ul>
                        
                        <li class="event-active">
                        	<p>7 июля в офисе компании Sisley Cosmetics прошла пресс-конференция.</p>
                            <i class="b-ico ico-point-right"></i>
                        </li>
                        <li><a href="#"><strong>25 июня</strong> группа Ab Inito и марка Sisley организовали фотосессию для журнала Арбор Мунди с участием актрисы театра и кино – Марии Шукшиной.</a></li>
                        <li><a href="#"><strong>15 мая</strong> в ресторане «Турандот» отметила свой День рождения Наталья Андрейченко. Организаторы праздника группа AB Inito.</a></li>
                        <li><a href="#"><strong>23 апреля 2010</strong> года в рамках вечеринки InStyle Beauty Bar группа AB Inito представила марку Sisley.</a></li>
                        
                    </ul>
                    <!-- /list -->
                    
                </div>
                <!-- events list -->
                
            </div></div>
            <!-- /sidebar -->
            
            <div class="g-clear"></div>
            
        </div>
        <!-- /content area -->

</div>
<!-- /global case -->

	<!-- footer -->
    <div class="l-ftr">
    	
        <div class="copyright"><p>&copy; 2002–2010 "Ab Inito Group"</p></div>
        
        <div class="menu g-lnk-inv-case"><ul>
        	<li><a href="#">Услуги</a></li>
            <li><a href="#">Портфолио</a></li>
            <li><a href="#">Блог</a></li>
            
            <li><a href="#">События</a></li>
            <li><a href="#">Контакты</a></li>
            <li><a href="#">Карта сайта</a></li>
        </ul></div>
        
    </div>
    <!-- /footer -->
    
    <!-- decoration -->
    <div class="b-decor"><div class="decor-data">
    	
        <div class="path-line"></div>
        <div class="bg rep png"></div>
        
    </div></div>
    <!-- /decoration -->

</body>
</html>