{% extends "base_event.html" %}
{% load i18n %}
{% load staticfiles %}

{% block scripts %}

<script src="{% static "js/jquery/jquery.js" %}" type="text/javascript"></script>
    <script src="{% static "js/jquery/jquery.ui.widget.js" %}" type="text/javascript"></script>
    <script src="{% static "js/jquery/jquery.browser.min.js" %}" type="text/javascript"></script>
    
    <script src="{% static "js/jquery/jquery.smoothDivScroll-1.1.js" %}" type="text/javascript"></script>
    <script src="{% static "js/jquery/jquery.colorbox.js" %}" type="text/javascript"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			
			$("#sgall").smoothDivScroll();

			$("#sgall a").colorbox({
				speed:		"500",
				maxWidth:	"1024"
			});
			
		});
	</script>


{% endblock%}
{% block main %}        
        <!-- content area -->
        <div class="l-cnt">
        	
            <!-- main area -->
            <div class="l-main"><div class="main-data">
            	
                <!-- headline -->
                <div class="b-headline g-lnk-inv-case g-zoom"><div>
                	
                    <ul>
                    	<li><a href="{% url 'event_anon' anon %}">{% trans "Anonce" %}</a></li>
                        <li><span>{% trans "Photoreport" %}</span></li>
                    </ul>
                    
                    <div class="rss"><a href="#">{% trans "Subsript"%}</a></div>
                    
                </div></div>
                <!-- /headline -->

                <!-- anounce -->
                <div class="b-topic b-anounce b-report">
                    
                    <!-- title -->
                    <div class="ttl"><h1> {{ event.title }}</h1></div>
                    <!-- /title -->
                    
                    <!-- picture -->
                    <div class="pic g-ovr">
                        
                        <!-- scroll gallery -->
                        <div id="sgall" class="b-sgall">
                        	
                            <div class="scrollingHotSpotLeft"><div></div><i class="b-ico"></i></div>
                            <div class="scrollingHotSpotRight"><div></div><i class="b-ico"></i></div>
                            
                            <div class="scrollWrapper">
                                <div class="scrollableArea">
                                    
                                    <a href="{{ event.main_image.image.url }}"><img src="{{ event.main_image.image.url }}" alt="" width="440" height="290" /></a>
                                    {% for img in event.images.get_query_set %}
				    <a href="{{ img.image.url }}"><img src="{{ img.image.url }}" alt="" width="440" height="290" /></a>
				    {% endfor %}
                                    
                                </div>
                            </div>

                            
                        </div>
                        <!-- /scroll gallery -->
                        
                        <div class="author"><p>{{ event.descript }}</p></div>
                        
                        <div class="b-socnet">
                            <p>{% trans "Share:" %}</p>
                            <ul>
				{% for sn in socnets %}
                                <li><a class="{{ sn.ico }}" href="{{ sn.url }}"></a></li>
				{% endfor %}
                            </ul>
                        </div>
                        
                        <div class="g-clear"></div>
                        
                    </div>
                    <!-- /picture -->
                    
                    <!-- description -->
                    {{ event.body|safe }}
                    <!-- /description -->
                    
                </div>
                <!-- /anounce -->

                
          
{% endblock%}
