{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru">
<head>

	<title>abinito:: main page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="Content-Language" content="ru" />

	<meta name="copyright" content="" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />

	<meta name="author" content="" />
	<meta name="robots" content="all" />
	
    <!-- styles -->
    <link href="/media/css/styles.css" rel="stylesheet" media="all" />
    <!--[if IE]><link href="css/styles.ie.css" rel="stylesheet" media="all" /><![endif]-->
   
    <!-- javascript files -->    
    <!-- Base javascript files -->
    <!--[if lte IE 6]><script src="js/pngfix.js" type="text/javascript"></script><![endif]-->
    <script src="/media/js/jquery/jquery.js" type="text/javascript"></script>
    <script src="/media/js/jquery/jquery.browser.min.js" type="text/javascript"></script>


</head>
<body>

<!-- global case -->
<div class="case p-mp">

		<!-- header -->
        <div class="l-hdr">
        	
            <!-- logotype and language case -->
            <div class="logo-case">
            	
                <div class="logo"><a class="png" href="{% url 'index_main' %}" title="abinito"></a></div>
                
                <ul class="lang">
                	<li><a href="{{ lang.0 }}">{{ lang.1 }}</a></li>
                </ul>
                
            </div>
            <!-- /logotype and language case -->
            
        </div>
        <!-- /header -->
        
        <!-- content area -->
        <div class="l-cnt">
        	
            <!-- main area -->
            <div class="l-main"><div class="main-data">
            	
                <!-- last projects gallery -->
                <div class="b-gall lastprj-gall"><ul class="g-ovr">
			{% for lastpost in lastposts %}
                    	<li><a href="{% url 'portf_one_item' lastpost.url %}"><a href="{% url 'portf_one_item' lastpost.url %}"><img src="{{ lastpost.main_image.image_small.url }}" alt="" /><span class="b-glass glass"></span></a></li>
                    	{% endfor %}
                </ul></div>
                <!-- /last projects gallery -->
                
            </div></div>
            <!-- /main area -->
            
            <!-- sidebar -->
            <div class="l-sb"><div class="sb-data">
            	
                <!-- main menu -->
                <div class="b-menu g-lnk-inv-case"><ul>
			{% for mmi in mainmenu %}
                        {% ifequal mmi.url backgr.url %}
                                <li><span>{{ mmi.text }}</span></li>
                        {% else %}
                                <li><a href="/{{ lang.2 }}/{{ mmi.url }}">{{ mmi.text }}</a></li>
                        {% endifequal %}
                        {% endfor %}
                </ul></div>
                <!-- /main menu -->
                
            </div></div>
            <!-- /sidebar -->
            
            <div class="g-clear"></div>
            
            <!-- news -->
            <div class="b-events mp-news">
                
                <!-- headline -->
                <div class="b-headline"><div><span>{%trans "News"%}</span></div></div>
                
                <!-- list -->
                <ul>
                    
                    <li><a href="#"><strong>25 июня</strong> группа Ab Inito и марка Sisley организовали фотосессию для журнала Арбор Мунди с участием актрисы театра и кино – Марии Шукшиной.</a></li>
                    <li><a href="#"><strong>15 мая</strong> в ресторане «Турандот» отметила свой День рождения Наталья Андрейченко. Организаторы праздника группа AB Inito.</a></li>
                    
                </ul>
                <!-- /list -->
                
            </div>
            <!-- /news -->
            
            <!-- left column -->
            <div class="l-left">
            	
                <!-- about us -->
                <div class="mp-about-us">
                	<p>
                    	Коммуникационная группа АБ Инито &mdash; частная компания, оказывающая услуги в области маркетинговых коммуникаций с 2002-го года. Подробно с услугами компании можно ознакомиться <a href="#">{% trans "here" %}</a>
                    </p>
                </div>
                <!-- about us -->
                
                <!-- address -->
                <div class="mp-addr">
                	<p>
                    07078, г. Москва, <br />
                    Красноворотский проезд, дом 3 «Б», стр. 3, офис 306.<br />
                    <a href="{% url 'index_cont' %}">{%trans "Schema"%}</a><br />
                    <br />
                    +7 (499) 975-39-25, 975-36-30, 975-57-83.<br />
                    <a href="mailto:ab-info@abinito.ru">ab-info@abinito.ru</a>
					</p>
                </div>
                <!-- address -->
                
            </div>
            <!-- /left column -->
            
            <!-- right column -->
            <div class="l-right">
            
                <!-- events list -->
                <div class="b-events mp-events">
                	
                    <!-- headline -->
                    <div class="b-headline"><div><h2>{% trans "Events" %}</h2></div></div>
                    
                    <!-- list -->
                    <ul>
                	{% for rec in lasts %}
				{%if forloop.first %}
					<li class="last g-ovr">
					<img src="{{ rec.main_image.image.url }}" alt="" height="120" />
					<a href="{% url 'event_anon' rec.id %}"><p>{{ rec.title_side }}</p></a><p>{{rec.title}}</p></li>

				{% else %}
                                <li><a href="{% url 'event_anon' rec.id %}"><p>{{ rec.title_side }}</p></a></li>
				{% endif %}
                        {% endfor %}        
                    </ul>
                    <!-- /list -->
                    
                </div>
                <!-- events list -->
            
            </div>
            <!-- /right column -->
            
            <div class="g-clear"></div>
            
        </div>
        <!-- /content area -->

</div>
<!-- /global case -->

	<!-- footer -->
    <div class="l-ftr">
    	
        <div class="copyright"><p>&copy; 2002–2010 "Ab Inito Group"</p></div>
        
        <div class="menu g-lnk-inv-case"><ul>
		{% for mmi in mainmenu %}
                <li><a href="/{{ lang.2 }}/{{ mmi.url }}">{{ mmi.text }}</a></li>
                {% endfor %}
        </ul></div>
        
    </div>
    <!-- /footer -->
    
    <!-- decoration -->
    <div class="b-decor decor-mp"><div class="decor-data">
    	
        <div class="bg mp png"></div>
        
    </div></div>
    <!-- /decoration -->

</body>
</html>
